.descricao {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    p {
        padding: 1rem;
    }
}

.layout-container {
    display: flex;
    justify-content: center;
    padding: 7rem;
    padding-top: 14rem;
}

.layout-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.tripWithDad {
    img {
        width: 300px;
        height: 300px;
        border-radius: 25%;
        padding: 1rem;
    }
}

#contactA {
    margin: 1rem;
    width: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    height: 30px;
    background-color: orange;
    border-color: orange;
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    color: black;
}

.tools-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .layout-wrapper {
        flex-direction: column;
    }

    .descricao {
        align-items: center;
    }
}

@media only screen and (max-width: 450px) {
    .descricao p {
        display: flex;
        flex-wrap: wrap;
        padding: 3.5rem;
    }
}