.tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 7rem;

    img {
        height: 40px;
        width: 40px;
    }
    .express {
        background-color: white;
    }
}

